@import 'slick';
@import 'slick-theme';

*, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'El Messiri', sans-serif;
  transition: color .5s ease-in;
  font-size: 18px;
}

.logo {
  color: #2c4058;
  font-size: 2.222em;
  font-weight: bold;
  font-family: 'Amatic SC', sans-serif;
  text-decoration: none;
}

div {

  .header_menu {
    width: 100%;

    .header_menu-item {
      padding: 5px 0 5px 0;
      list-style: none;
      opacity: 0.7;
      border: 2px solid transparent;
      font-family: 'El Messiri', sans-serif;

      &:hover {
        opacity: 1;
        border-top: 2px solid #ffff00;
        border-bottom: 2px solid #ffff00;
      }

      a {
        text-decoration: none;
        color: #2c4058;
        font-size: 1em;
        font-weight: 600;
        text-wrap: normal;
        white-space: nowrap;
      }
    }
  }
}

main {

  .section_hero {
    height: calc(100vh - 86px);
    background: url("../img/bg_hero.jpg");
    background-size: cover;
    position: relative;

    .hero_container {
      height: calc(100vh - 86px);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      max-height: 820px;

      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;

        .hero_title {
          font-size: 4em;
          color: aliceblue;
          font-weight: 600;
          margin-top: 50px;
        }

        .hero_subtitle {
          font-size: 1.5rem;
          color: #ffffff;
          font-weight: 400;
        }

        .btn_order {
          background-color: #FFBE49;
          width: auto;
          padding: 0 15px;
          height: 60px;
          text-align: center;
          line-height: 60px;
          border-radius: 60px;
          color: #ffffff;
          text-decoration: none;
          font-size: 1em;
          font-weight: 400;
          white-space: nowrap;
        }
      }
    }
  }

  .section_services {
    padding: 100px 0;

    .services-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #2c4058;
      width: 27%;
      height: 350px;
      text-align: center;


      div {
        background-size: cover;
        width: 134px;
        height: 134px;
      }

      .flat {
        background: url("../img/slice1.png") center center no-repeat;
      }

      .private-flat {
        background: url("../img/slice2.png") center center no-repeat;
      }

      .author-flat {
        background: url("../img/slice3.png") center center no-repeat;
      }

      h3 {
        font-size: 1.278em;
        margin-bottom: 25px;
      }

      p {
        font-size: 1em;
        font-weight: 300;
      }
    }
  }

  .section_portfolio {
    padding: 100px 0;
    background-color: #F0F0F0;
    .fragments{
      font-style: italic;
      margin-bottom: 40px;
    }

    .services_grid-container {
      width: 80%;
      height: 1000px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;

      .grid-item1 {
        background: url("../img/grid1.jpg") center;
        background-size: cover;
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;

      }

      .grid-item2 {
        background: url("../img/grid2.jpg") center;
        background-size: cover;
        width: 100%;
        height: 100%;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;

      }

      .grid-item3 {
        background: url("../img/grid3.jpg") center;
        background-size: cover;
        width: 100%;
        height: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;

      }

      .grid-item4 {
        background: url("../img/grid4.jpg") center;
        background-size: cover;
        width: 100%;
        height: 100%;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }
    }


    .services_slider1 {
      height: 500px;
      width: 80%;
      margin-top: 200px;
      position: relative;

      //.prevButton {
      //  background: url("../img/icons8-chevron-left-80.png") center center no-repeat;
      //  background-size: cover;
      //  //content: "";
      //  width: 40px;
      //  height: 40px;
      //  display: block;
      //  position: absolute;
      //  left: -50px;
      //  top: calc(50% - 20px);
      //  cursor: pointer;
      //}

      //.nextButton {
      //  background: url("../img/icons8-chevron-right-80 (1).png") center center no-repeat;
      //  background-size: cover;
      //  //content: "";
      //  width: 40px;
      //  height: 40px;
      //  display: block;
      //  position: absolute;
      //  right: -50px;
      //  top: calc(50% - 15px);
      //  cursor: pointer;
      //}

      .slider1_item {
        margin: 0 10px;
        outline: none;
      }

      .slider1_item1 {
        background: url("../img/proj1/proj1_1.jpg") center;
        background-size: cover;
        width: 100%;
        height: 500px;
      }

      .slider1_item2 {
        background: url("../img/proj1/proj1_2.jpg") center;
        background-size: cover;
        width: 100%;
        height: 500px;
      }

      .slider1_item3 {
        background: url("../img/proj1/proj1_3.jpg") center;
        background-size: cover;
        width: 100%;
        height: 500px;
      }

      .slider1_item4 {
        background: url("../img/proj1/proj1_4.jpg") center;
        background-size: cover;
        width: 100%;
        height: 500px;
      }

      .slider1_item5 {
        background: url("../img/proj1/proj1_5.jpg") center;
        background-size: cover;
        width: 100%;
        height: 500px;
      }

      .slider1_item6 {
        background: url("../img/proj1/proj1_6.jpg") center;
        background-size: cover;
        width: 100%;
        height: 500px;
      }

      .slider1_item7 {
        background: url("../img/proj1/proj1_7.jpg") center;
        background-size: cover;
        width: 100%;
        height: 500px;
      }
    }


    .services_slider2 {
      height: 600px;
      width: 80%;
      margin-top: 200px;
      position: relative;

      .prevButton {
        background: url("../img/icons8-chevron-left-80.png") center center no-repeat;
        background-size: cover;
        content: "";
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        left: -50px;
        top: calc(50% - 20px);
        cursor: pointer;
      }

      .nextButton {
        background: url("../img/icons8-chevron-right-80 (1).png") center center no-repeat;
        background-size: cover;
        content: "";
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        right: -50px;
        top: calc(50% - 15px);
        cursor: pointer;
      }

      .slider2_item {
        margin: 0 10px;
        outline: none;

      }

      .slider2_item1 {
        background: url("../img/proj2/proj2_1.jpg") center no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
      }

      .slider2_item2 {
        background: url("../img/proj2/proj2_2.jpg") center;
        background-size: cover;
        width: 100%;
        height: 600px;
      }

      .slider2_item3 {
        background: url("../img/proj2/proj2_3.jpg") center;
        background-size: cover;
        width: 100%;
        height: 600px;
      }

      .slider2_item4 {
        background: url("../img/proj2/proj2_4.jpg") center;
        background-size: cover;
        width: 100%;
        height: 600px;
      }

      .slider2_item5 {
        background: url("../img/proj2/proj2_5.jpg") center;
        background-size: cover;
        width: 100%;
        height: 600px;
      }

      .slider2_item6 {
        background: url("../img/proj2/proj2_6.jpg") center;
        background-size: cover;
        width: 100%;
        height: 600px;
      }

      .slider2_item7 {
        background: url("../img/proj2/proj2_7.jpg") center;
        background-size: cover;
        width: 100%;
        height: 600px;
      }
    }
  }

  .section_work {
    padding: 100px 0;

    .work_elements {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .work_icon {
        height: 570px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 30px;

        .work_item {
          width: 90px;
          height: 90px;
          background-size: cover;
        }

        .work_item1 {
          background: url("../img/work-icon1.png") center no-repeat;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            left: 44px;
            bottom: -70px;
            width: 2px;
            height: 70px;
            background-color: #D1D1D1;
          }
        }

        .work_item2 {
          background: url("../img/work-icon2.png") center no-repeat;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            left: 44px;
            bottom: -70px;
            width: 2px;
            height: 70px;
            background-color: #D1D1D1;
          }
        }

        .work_item3 {
          background: url("../img/work-icon3.png") center no-repeat;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            left: 44px;
            bottom: -70px;
            width: 2px;
            height: 70px;
            background-color: #D1D1D1;
          }
        }

        .work_item4 {
          background: url("../img/work-icon1.png") center no-repeat;
          position: relative;
        }
      }

      .work_about {
        height: 570px;
        max-width: 655px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5px;
        color: #2c4058;

        div {
          height: 90px;

          h3 {
            font-weight: bold;
            font-size: 1.389em;
            margin-bottom: 5px;
          }

          p {
            font-size: 0.778em;
            font-weight: 300;
          }
        }
      }
    }
  }

  .section_tariff {
    padding: 100px 0;
    background-color: #F0F0F0;


    .tariff_card {
      background-color: #fff;
      height: 560px;
      border-radius: 10px;
      text-align: center;
      padding: 40px 10px;
      position: relative;
      margin: 10px;

      &:hover {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
      }

      h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 1.5em;
      }

      span {
        font-size: 35px;
        font-weight: 700;
      }

      ul {
        margin-top: 1.5em;
        height: 250px;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        li {
          font-size: 13px;
          font-weight: 300;
        }
      }

      .card_btn_order {
        background-color: #FFBE49;
        display: block;
        width: 120px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        border-radius: 60px;
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        position: absolute;
        left: calc(50% - 60px);
        bottom: 40px;

      }
    }
  }

  .section_contact {
    padding: 100px 0;
    background-color: #ffffff;


    .grid_contact_about {
      display: grid;
      width: 100%;
      height: 250px;
      gap: 15px;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 30px;

      .cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F0F0F0;

        h3 {
          letter-spacing: .1em;
        }

        a {
          text-decoration: none;
          color: #2C4058;
        }
      }

      .contact_about-social {
        flex-direction: row;
        justify-content: space-around;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 3;
        grid-column-end: 4;

        div {
          width: 43px;
          height: 43px;
          border: 1px solid #000;
          border-radius: 100%;
          text-align: center;
          line-height: 47px;

          a {
            text-decoration: none;
            color: #000;
            font-size: 25px;
          }
        }
      }

    }

    section {


      .maps_container {
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45);
        margin: 0 auto 50px auto;
      }

    }
  }

}

.title {
  text-align: center;
  height: 84px;
  font-size: 1.944em;
  color: #2c4058;
  text-transform: uppercase;
  margin: 0 auto 70px auto;
  padding-top: 40px;
  position: relative;
  width: auto;
  letter-spacing: .05em;

  &:before {
    content: '';
    width: 100px;
    height: 2px;
    background-color: #2c4058;
    position: absolute;
    top: 0;
    left: calc(50% - 50px);

  }
}

// Экстрамалые девайсы («телефоны», < 576px)
// Нет @media, т.к. это по умолчанию в Bootstrap

// Малые девайсы («ландшафтные телефоны», >= 576px)
@media screen and (min-width: 576px) {

}

// Средние девайсы («таблетки», >= 768px)
@media screen and (max-width: 768px) {
  main {
    .section_hero {
      .hero_container {
        .background {
          .hero_title {
            font-size: 2.5em;
            color: aliceblue;
          }

          .hero_subtitle {
            font-size: 1em;
            color: #ffffff;
            font-weight: 400;
          }
        }
      }
    }
  }
}

// Большие девайсы (десктопы, >= 992px)
@media screen and (min-width: 992px) {

}

// Экстрабольшие девайсы (большие десктопы, >= 1200px)
@media screen and (min-width: 1200px) {

}